micronaut:
  application:
    name: mnJwtSample
  security:
    authentication: bearer
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: secret01234567890ABCDEFGHIJKLMNO # 32文字以上
